html body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body .pomodoro_block .app_cover, html body .pomodoro_block .header, html body .pomodoro_block .small_scrn, html body, html {
  display: flex;
  justify-content: center;
  align-items: center;
}

html body .pomodoro_block .app_cover .tool_tip_block, html body .pomodoro_block .app_cover, html body .pomodoro_block .header {
  margin: 1.5%;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 3px grey;
}

html body .pomodoro_block .header .stretch, html body .pomodoro_block .header .code {
  display: inline-block;
  margin-right: 0.5rem;
  width: 3.5rem;
  height: 2.5rem;
  background-size: 100% 150%;
  background-position: 0;
}

html body .pomodoro_block .small_scrn, html body .pomodoro_block .cover_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html {
  /*  PATTERN  */
  background-color: #62bbd3;
  background-image: radial-gradient(#fff 9px, transparent 10px), repeating-radial-gradient(#fff 0, #fff 4px, transparent 5px, transparent 20px, #fff 21px, #fff 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
  /*  END  */
  animation: 2s bg_slide infinite linear;
  animation-play-state: paused;
}
@keyframes clr_chng {
  0% {
    background-color: red;
  }
  50% {
    background-color: tomato;
  }
  100% {
    background-color: crimson;
  }
}
@keyframes bg_slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -91px;
  }
}
html body .pomodoro_block {
  width: 30rem;
  height: 43rem;
}
html body .pomodoro_block .cover_div {
  background-color: #fff;
  opacity: 0.9;
}
html body .pomodoro_block .small_scrn {
  z-index: 999;
  background-color: slateblue;
  display: none;
}
html body .pomodoro_block .clr_code {
  color: #26374a;
  background: #ffd900;
}
html body .pomodoro_block .clr_stretch {
  color: #fff;
  background: #26374a;
}
html body .pomodoro_block .header {
  position: relative;
  justify-content: flex-start;
  height: 20%;
  padding-left: 1rem;
  font-size: 2rem;
}
html body .pomodoro_block .header .code {
  background-image: url(Lp_10-512.png);
}
html body .pomodoro_block .header .stretch {
  background-image: url(emoji_yoga.png);
  background-size: 100% 132%;
}
html body .pomodoro_block .header .timer_sml {
  margin-left: 38%;
}
html body .pomodoro_block .header .timer_sml i {
  position: relative;
  top: -0.2rem;
}
html body .pomodoro_block .header .timer_marg_sm {
  margin-left: 31%;
}
html body .pomodoro_block .header .timer_marg_lg {
  margin-left: 36%;
}
html body .pomodoro_block .bg_code {
  background: url(644564-programming.png) no-repeat center;
  background-size: 78%;
}
html body .pomodoro_block .bg_stretch {
  background: url(2043771-yoga.png) no-repeat center;
  background-size: 80%;
}
html body .pomodoro_block .app_cover {
  position: relative;
  height: 72%;
  background-color: #fff;
}
html body .pomodoro_block .app_cover .pause:before {
  content: "||";
}
html body .pomodoro_block .app_cover .play:before {
  content: ">";
}
html body .pomodoro_block .app_cover .pause, html body .pomodoro_block .app_cover .play {
  position: absolute;
  left: calc(100% - 3rem);
  top: 90%;
  width: 6rem;
  height: 6rem;
  font-size: 1.5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #000;
}
html body .pomodoro_block .app_cover .pause, html body .pomodoro_block .app_cover .pause:hover, html body .pomodoro_block .app_cover .pause:active, html body .pomodoro_block .app_cover .play, html body .pomodoro_block .app_cover .play:hover, html body .pomodoro_block .app_cover .play:active {
  outline: none;
  border: none;
  cursor: pointer;
}
html body .pomodoro_block .app_cover .sound_btn {
  position: absolute;
  left: 105%;
  top: 75%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #000;
}
html body .pomodoro_block .app_cover .sound_btn, html body .pomodoro_block .app_cover .sound_btn:hover, html body .pomodoro_block .app_cover .sound_btn:active {
  outline: none;
  border: none;
  cursor: pointer;
}
html body .pomodoro_block .app_cover .sound_btn:hover > .tool_tip_block {
  display: inline-block;
}
html body .pomodoro_block .app_cover .tool_tip_block {
  display: none;
  position: absolute;
  top: -90%;
  left: 50%;
  padding: 5px;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  transition: 2s;
}
html body .pomodoro_block .app_cover .sound_btn:before {
  content: "off";
  position: absolute;
  top: -5%;
  left: -5%;
  font-size: 0.4rem;
  color: #000;
}
html body .pomodoro_block .app_cover .sound_btn:after {
  content: "on";
  position: absolute;
  top: -5%;
  left: 90%;
  font-size: 0.4rem;
  color: #000;
}

@media (max-height: 695px) and (max-width: 478px) {
  html body .pomodoro_block {
    width: 100vw;
    height: 100vh;
  }
}
@media (max-height: 550px), (max-width: 280px) {
  * {
    display: none;
  }

  html {
    background-image: none;
    background-color: #fff;
    text-align: center;
  }

  html::before {
    content: "SCREEN IS TOO SMALL :'(";
    position: absolute;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 2.5rem;
  }
}
@media (max-width: 615px) {
  html body .pomodoro_block .app_cover .pause,
html body .pomodoro_block .app_cover .play {
    position: absolute;
    left: calc(10% - 3rem);
    top: 90%;
    width: 6rem;
    height: 6rem;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #000;
  }
  html body .pomodoro_block .app_cover .pause, html body .pomodoro_block .app_cover .pause:hover, html body .pomodoro_block .app_cover .pause:active,
html body .pomodoro_block .app_cover .play,
html body .pomodoro_block .app_cover .play:hover,
html body .pomodoro_block .app_cover .play:active {
    outline: none;
    border: none;
    cursor: pointer;
  }

  html body .pomodoro_block .app_cover .sound_btn {
    position: absolute;
    left: 25%;
    top: 87%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #000;
  }
  html body .pomodoro_block .app_cover .sound_btn, html body .pomodoro_block .app_cover .sound_btn:hover, html body .pomodoro_block .app_cover .sound_btn:active {
    outline: none;
    border: none;
    cursor: pointer;
  }
}
@media (max-width: 478px) {
  html body .pomodoro_block {
    width: 100vw;
  }

  html body .pomodoro_block .bg_code {
    background-size: 23rem;
  }

  html body .pomodoro_block .app_cover,
html body .pomodoro_block .header {
    margin: 0;
  }

  html body .pomodoro_block .header .timer_marg_sm,
html body .pomodoro_block .header .timer_marg_lg {
    position: absolute;
    right: 5%;
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  html body .pomodoro_block .bg_code {
    background-size: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
